html {
    height: 100%;
}

body {
    display: none;
    height: 100%;
    background-color: #181818;
}

#words, #settings {
    min-height: 80%;
}

#words {
    background-color: black;
    animation-name: fading;
    animation-duration: 5s;
    animation-timing-function: linear;
}

#controls {
    height: 20%;
    max-height: 20%;
}

#word {
    font-size: 12vw;
    font-family: "Roboto Slab", serif;
    animation-iteration-count: infinite;
    animation-duration: 80ms;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.white {
    animation-name: flashing-white;
}

.red {
    animation-name: flashing-red;
}

.green {
    animation-name: flashing-green;
}

@keyframes flashing-white {
    from {
        color: black;
    }
    to {
        color: #FFF;
    }
}

@keyframes flashing-red {
    from {
        color: black;
    }
    to {
        color: #F00;
    }
}

@keyframes flashing-green {
    from {
        color: black;
    }
    to {
        color: #0E0;
    }
}

@keyframes fading {
    from {
        background-color: #181818;
    }
    to {
        background-color: black;
    }
}
