html {
    height: 100%;
}

body {
    display: none;
    height: 100%;
    background-color: #181818;
}

#words, #settings {
    min-height: 80%;
}

#words {
    background-color: black;
    animation-name: fading;
    animation-duration: 5s;
    animation-timing-function: linear;
}

#controls {
    height: 20%;
    max-height: 20%;
}

#word {
    font-size: 12vw;
    font-family: "Times New Roman", Times, serif;
    animation-name: flashing;
    animation-iteration-count: infinite;
    animation-duration: 80ms;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes flashing {
    from {
        color: black;
    }
    to {
        color: white;
    }
}

@keyframes fading {
    from {
        background-color: #181818;
    }
    to {
        background-color: black;
    }
}
